<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<html>
    <body>
        <h1>Spotify To Bandcamp</h1>
        <p>Recherche dans une playlist les artistes se trouvant aussi sur Bandcamp !</p>
        <hr />

        {{ if .error }}
        <div class="error">
            <p>Erreur rencontrée: {{.error}}</p>
        </div>
        {{ end }}

        {{if .connected}}
        <div>
            <form action="/back" method="post">
                <label>Saisir l’ID de la playlist (sans l’url): <input name="id" type="text" required /></label> <br />
                <label for="type-id">Choississez un type d’ID:</label>
                <select name="type-id" id="type-id">
                    <option value="playlist">Playlist</option>
                </select>
                <br />
                <input type="submit" value="Envoyer" />
            </form> 
        </div>
        {{else}}
        <a href="{{ .url }}">SE CONNECTER À SPOTIFY ICI</a>
        {{end}}

        <hr />
        <footer>
            <img src="https://www.gnu.org/graphics/gplv3-or-later-sm.png" alt="logo GPL3" *>
            <p>Ce site est en aucun cas affilié avec Bandcamp ou Spotify.</p>
        </footer>
    </body>
<html>
