h1 {
    color: green;
}

td, th {
    border: 3px solid white;
}

tr:nth-child(even) {
    background-color: #eee;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.only-artist {
    color: red;
}
